* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #FFFFFF;
  --black-color: #101820;
  --green-light-color: #53B16A;
  --green-dark-color: #11822C;
  --grey-white-color: #FAFAFA;
  --grey-light-color: #D2DCE8;
  --grey-dark-color: #697B95;
  --blue-light-color: #008FFF;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.23px;
  color: var(--grey-dark-color)
}

.container {
  padding-inline: 10px;

  @media screen and (min-width: 770px) {
    max-width: 770px;
    margin: 0 auto;
    padding: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  > * {
    width: 100%;
  }

  .image-wrap {
    width: 100%;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  &-title {
    font-weight: 700;
  }

  @media screen and (min-width: 770px) {
    flex-direction: row;
    gap: 30px;

    > * {
      width: 50%;
    }
  }
}


.header-title {
  padding-block: 45px;
  color: var(--black-color);
  font-size: 24px;

  @media screen and (min-width: 770px) {
    padding-block: 60px;
    text-align: center;
  }
}