.Carousel {
  overflow-x: hidden;
  margin-bottom: 60px;
  margin-inline: -10px;

  @media screen and (min-width: 770px) {
    margin-bottom: 90px;
    margin-inline: 0;
  }

  .slick-track {
    display: flex;

    .slick-slide {
      padding-right: 10px;
    }

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}