.Footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-block: 60px;
  text-align: center;

  &::before {
    position: absolute; 
    top: 0;
    left: 50%;
    z-index: -1;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    background-color: var(--grey-white-color);
    box-shadow: inset 0px 1px 0px #D2DCE8;
    content: '';
  }

  @media screen and (min-width: 770px) {
    flex-direction: row;
    gap: 0;
    padding-block: 90px;
    text-align: left;
  }

  .wrapper-left {
    order: 2;
    @media screen and (min-width: 770px) {
      order: 1;
      max-width: 370px;
      margin-right: 130px;
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 14px;
      margin-bottom: 30px;
      padding: 0;
      list-style: none;

      @media screen and (min-width: 770px) {
        justify-content: flex-start;
      }
  
      li {
        width: 39px;
        height: 39px;
      }
    }
  }

  .wrapper-right {
    @media screen and (min-width: 770px) {
      order: 2;
    }

    .location {
      margin-bottom: 30px;
    }
  }
}