.Form {
  margin-bottom: 45px;
  text-align: center;

  @media screen and (min-width: 770px) {
    margin-bottom: 60px;
  }

  &-title {
    margin-bottom: 30px;
    text-align: left;
    @media screen and (min-width: 770px) {
      text-align: center;
    }    
  }

  input, select {
    padding: 15px 18px;
    margin-bottom: 20px;
    border: 1px var(--grey-light-color) solid;
    border-radius: 5px;
  }

  select {
    color: var(--grey-dark-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: {
      image: url(../images/dropdown-path.png);
      repeat: no-repeat;
      position: top 18px right 18px;
    };
  }

  &-submit-btn {
    min-width: 270px;
    padding-block: 16px;
    font-size: 16px;
    text-align: center;
    color: var(--white-color);
    border-radius: 5px;

    &__primary {
      background-color: var(--green-light-color);
      border: 1px var(--green-dark-color) solid;
    }
    &__disabled {
      background-color: var(--grey-dark-color);
      border: 1px var(--grey-dark-color) solid;
      pointer-events: none;
    }
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-dark-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--grey-dark-color);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--grey-dark-color);
}