.ImageContent {
  position: relative;
  padding-block:45px;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 170px;
    border-top: 2px var(--grey-dark-color) dashed;
    transform: translateX(-50%);
    content: '';
  }

  @media screen and (min-width: 770px) {
    padding-block:60px;
  }

  &-box:not(:last-child) {
    margin-bottom: 21px;
    @media screen and (min-width: 770px) {
      margin-bottom: 0;
    }
  }

  .image-wrap {
    margin-bottom: 12px;
  }

  p:not(.ImageContent-title) {
    margin-bottom: 12px;
  }

  a {
    color: var(--blue-light-color);
    text-decoration: none;
  }
}